---
---

@import "{{ site.theme }}";
body {
    font-family: 'Poppins', sans-serif;
    background-color: #1f242d;
    color: #fff;
    margin: 0;
    padding: 0;
}

.header-cover {
    /* Adjust height and background image URL accordingly */
    height: 300px;
    background-image: url('header-cover.jpg');
    background-size: cover;
    background-position: center;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

header,
nav,
section {
    margin-bottom: 20px;
}

a {
    text-decoration: none;
}

